@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');



:root{
  --color-Orange-1: hsl(26, 100%, 55%);
  --color-Pale-orange-1: hsl(25, 100%, 94%);

  --color-Very-dark-blue: hsl(220, 13%, 13%);
  --color-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-Grayish-blue: hsl(220, 14%, 75%);
  --color-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);

  --font-kumbh: "Kumbh Sans", sans-serif ;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-kumbh);
}
/* utility cases*/
img{
  width: 100%;
  object-fit: cover;
}
.container{
  max-width: 80%;
  margin: auto;
}


/* Header start */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--color-Light-grayish-blue);
}
.openMenu{
  display: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.openMenu:hover{
  filter: brightness(0);
}
.mobile{
  display: none;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-contains{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-contains , .nav-list a{
  color: var(--color-Dark-grayish-blue);
  padding: 2rem 0;

}
.nav-list a:hover{
  color: var(--color-Very-dark-blue);
  border-bottom: 3px solid var(--color-Orange-1);
  
}
nav .shop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 0;
  position: relative;
  z-index: 10;
}
nav .shop .icon-cart{
  transition: all 0.3s ease;
}
nav .shop .icon-cart:hover{
  filter: brightness(0);
}
.notif{
  display: none;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
  background-color: var(--color-Orange-1);
  color: var(--color-White);
  position: absolute;
  left: 5px;
  top: 25px;
  cursor: pointer;
}
.shop .avatar{
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-Light-grayish-blue);
  border-radius: 50%;
  transition: all 0.2s ease;

}
.shop .avatar:hover{
  border: 2px solid var(--color-Orange-1);
  border-radius: 50%;
}

/* cart start */
.cart{
  display: none;
  position: absolute;
  top: 90%;
  right: -50%;
  background-color: var(--color-White);
  width: 300px;
  max-height: 400px;
  overflow: auto;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.51);
  -webkit-box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.51);
}
.cart.active{
  display: block;
}
.cart h3{
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-Light-grayish-blue);
}
.cart .des{
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  margin: 3.5rem 0;
  color: var(--color-Dark-grayish-blue);
}
.fillContain{
  display: flex;
  flex-direction: column;
}
.cartFill{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.4rem;
}
.cartFill img{
  width: 50px;
  border-radius: 8px;
}
.cartFillContain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  margin-top: 0.5rem;
}

.cart-content{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.cart-content p{
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--color-Dark-grayish-blue);
}
.cart-content p .total{
  color: var(--color-Black);
  font-size: 0.8rem;
  font-weight: 700;
}
.cartFillContain #delete{
  color: var(--color-Dark-grayish-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cartFillContain #delete:hover{
  color: var(--color-Black);
}
.checkout-btn{
  display: none;
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 0.8rem;
  border: none;
  border-radius: 12px;
  background-color: var(--color-Orange-1);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;

}
.checkout-btn:hover{
  opacity: 80%;
}
/* cart end */
/* Header end */

/* product page start */
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-left: 4rem;
  
  
}
.product-gallury img{
  border-radius: 12px;
  cursor: pointer;
}
.product-gallury{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

}
.main-product{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} 
.main-product i{
  display: none;
}
.main-product i:first-child{
  position: absolute;
  left: 10px;
}
.main-product i:last-child{
  position: absolute;
  right: 10px;
}
.product-gallury .preview{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.product-gallury .preview img{
  width: 90px;
  transition: all 0.3s ease;
}
.product-gallury .preview img:hover{
  opacity: 60%;
}
.preview .selected{
  border: 2px solid var(--color-Orange-1);
  opacity: 60%;
}

.product-gallury .main-image{
  width: 100%;
  height: 400px;
}
/* thumbnail */


/* product content */
.product-content{
  padding: 0 0 0 1rem;
}
.product-content .storName{
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-Dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.product-content h1{
  width: 300px;
  margin: 0.5rem 0 2rem 0;
  font-weight: 700;
}
.product-content p{
  width: 80%;
  color: var(--color-Dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 1rem;
}
.product-content .pricing{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product-content .pricing h2{
  font-size: 2rem;
}
.product-content .pricing p{
  width: fit-content;
  background-color: var(--color-Black);
  color: var(--color-White);
  padding: 0 1rem;
  border-radius: 12px;
  
}
.pricing .lastPrix{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.product-content .discount{
  color: var(--color-Dark-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}
.product-content .buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.product-content .buttons img{
  width: 20px;
}
.buttons .quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-Light-grayish-blue);
  padding: 1rem 2rem;
  border-radius: 12px;
  width: 80%;
  font-weight: 700;
  font-size: 1.2rem;
}
.buttons .quantity i{
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-Orange-1);
  width: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .quantity i:hover{
  color: rgba(255, 125, 26, 0.5);
}

.product-content .buttons .add{
  width: 80%;
  background-color: var(--color-Orange-1);
  border: none;
  border-radius: 12px;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.product-content .buttons .add:hover{
  opacity: 60%;
}
.buttons .add img{
  margin-right: 1rem;
  filter: brightness(0);
}
/* product page end */

/* lightbox start */
.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim1 0.4s linear;
}
.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: anim1 0.4s linear;
}
@keyframes anim1 {
  from{
    opacity: 0;
    transform: translateX(-40px);
  }to{
    opacity: 1;
    transform: translateX(0px);
  }
  
}
.preview img{
  width: 90px;
  border-radius: 12px;
  cursor: pointer;
}

.lightbox{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7) ;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.lightbox .thumbnails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lightbox .lightboxImage{
  border-radius: 12px;
  width: 400px;
}
#previous , #next{
  font-size: 2rem;
  font-weight: 900;
  background-color: var(--color-White);
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

}
#previous:hover , #next:hover{
  color: var(--color-Orange-1);
}
.lightbox #close{
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-White);
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
  transition: 0.3s ease;
}
.lightbox #close:hover{
  color: var(--color-Orange-1);
}
/* lightbox end */


/* mobile device */
@media screen and (max-width:840px){
 /* header start */
 .openMenu{
  display: block;
 }
 .nav-list{
  display: none;
 }
 .mobile.active{
  display: block;
  background-color: var(--color-White); 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  padding: 2rem;
  z-index: 100;
 }
 .nav-list-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
 }
 .nav-list-mobile a{
  color: var(--color-Black);
  font-weight: 700;
  padding-bottom: 0.5rem;
  cursor: pointer;
 }
 .nav-list-mobile a:hover{
  color: var(--color-Very-dark-blue);
  border-bottom: 3px solid var(--color-Orange-1);
 }
 .close{
    width: 20px;
    cursor: pointer;
  }
  .overly{
  display: none;   
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90;
}
 /* header end */ 

 /* main start  */ 
 .container{
  max-width: 100%;
  margin: auto;
}
 .product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-left: 0;
  width: 100%;
}
.product-gallury{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.product-gallury img{
  border-radius: 0;
  cursor: pointer;
}
.main-product i{
  display: block;
}
.main-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-product i:first-child{
  position: absolute;
  left: 10px;
}
.main-product i:last-child{
  position: absolute;
  right: 10px;
}
.main-product img{
  width: 100%;
}
.product-gallury .preview{
  display: none;
}
.product-content .buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.product-content{
  max-width: 80%;
  margin: auto;
  padding: 0;
}
.product-content p{
  width: 100%;
}
.product-content .pricing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.pricing .lastPrix{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
 /* main end  */ 
 /* lightbox start */
 .lightbox .thumbnails{
  gap: 0.3rem;  
}
.lightbox .lightboxImage{
  width: 300px;
}
#previous , #next{
  font-size: 1.2rem;
  padding: 3px 5px;
}
 /* lightbox end */
 /* cart start */
 .cart{
  right: 0;
}
 /* cart end */
 
}